# Mac OS
.DS_Store

# IDE
.idea
.project

# npm
node_modules
npm-debug.log
yarn-error.log
yarn.lock
package-lock.json
.yo-rc.json
*.bak

# folder
build
dist
coverage

# cache
.cache
