# Mac OS
.DS_Store

.idea
.project
.codesandbox

# npm
node_modules
npm-debug.log
yarn-error.log
yarn.lock
package-lock.json
.yo-rc.json
.npmrc

# folder
build
dist
coverage

# cache
.cache
*.bak
