{
	"env": {
		"browser": true,
		"commonjs": true,
		"es6": true,
		"node": true
	},
	"extends": [
		"eslint:recommended",
		"plugin:prettier/recommended",
		"plugin:react/recommended"
	],
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		},
		"ecmaVersion": 2018,
		"sourceType": "module"
	},
	"parser": "@typescript-eslint/parser",
	"plugins": [
		"prettier",
		"react"
	],
	"globals": {
		"__IS_SSR__": true
	},
	"rules": {
		"no-unused-vars": "off"
	}
}
